---
---

@import "{{ site.theme }}";

body {
  background-color: #011627ff; //was #fff
  color:#7fdbcaff; //was #727272
}

h1 {
  color:#82aaffff; //was #000
  font-size:36px; //was 28px
}

h2 {
  color:#82aaffff; //was #393939
}

h3, h4, h5, h6 {
  color:#82aaffff;
}

a {
  color:#c792eaff; //was #267CB9
}

strong {
  color:#fff; //was #222
}